html{

    height: 100%;

}

body{

    height: 100%;
    margin: 0;

}

#container{
    height: 100%;
    width: 100%;
    flex-direction: column;
}

#cima{
    height: 30%;
    width: 100%;
}

#meioTres{
    height: 40%;
    width: 100%;
}

#escrever{
    height: 20%;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}

#aaaa{
    font-size: 20px;
    font-family: serif;
}

#baixoTres{
    height: 30%;
    width: 100%;
}

#meioIndex3{
    height: 70%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
}

#voltaIndex3{
    height: 90%;
    width: 90%;
    background-color: whitesmoke;
    border:solid 1px;
    border-color: black;
    border-radius: 10%;
}

#escritoEscolha{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#escolhaForma{
    font-size: 20px;
    font-family: serif;
}

#dividir{
    height: 70%;
    width: 100%;
}

#divButEscolha{
    height: 40%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#divButEscolha2{
    height: 50%;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}
.butEscolha{
    height: 50px;
    width: 75px;
    text-align: center;
    border-radius: 20px;
}

#carrossel{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dentro{
    height: 100%;
    width: 100%;
}

#meio{
    height: 100%;
    width: 100%;
    background-color: green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.linhas{
    height: 16.5%;
    width: 100%;
    background-color: rgb(34, 0, 128);
    display: flex;
}

.meses{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#baixo{
    height: 30%;
    width: 100%;
    background-color: yellow;
}

#containerUm{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cimaPum{
    height: 10%;
    width: 100%;
}

#doTitulo{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}

#titulo{
    font-size: 25px;
    font-family: serif;
}

#textoUm{
    font-family: serif;
}

#but{
    border-radius: 20%;
}

#meioPum{
    height: 75%;
    width: 80%;
}

#paraTexto{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#baixoPum{
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
